body{background-color: rgba(8, 157, 177, 0.849);}
.overlay{position:absolute;top:0;left:0;margin: 20px;width: 500px;color: ghostwhite;
    font-style: italic;}
main{position:relative}

.islands {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .island {
    margin: 0 1rem;
    text-align: center;
  }

  .island img {
    width: 150px;
    height: 150px;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .island .btn-secondary {
    margin-top: 0.5rem;
    background-color: #0066cc;
    border: none;
  }

  .island .btn-secondary:hover {
    background-color: #004c99;
  }